@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(173, 165, 165);
    font-family: "Noto Sans", 'Times New Roman', Times, serif;
    margin: 0;
    /* position: relative; */
}
header {
    display: inline-block;
    position: sticky;
    top: 0;
    background-color: rgb(235, 197, 147);
    height: 10vh;
    box-shadow: 0px 5px 5px grey;
    width: 100%;
}
.nav-container {
    display: inline-flex;
    float: right;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 100%; */
}
nav {
    width: 100%;
}
nav a {
    text-decoration: none;
    color: red;
    font-size: 1.25em;
    margin: 1em;
    padding: 50% 0;
}
nav a:hover {
    color: black;
}
.main {
    background-color: rgb(180, 230, 209);
    height: 80vh;
}
footer {
    background-color: rgb(235, 155, 147);
    height: 15vh;
}