.block {width: 100%; max-width: 200px; height: 100px; box-sizing: border-box; background-color: #ff9930;}
		
@media (max-width: 980px)
{
	.block {
        background-color: #332BC0;
        width: 400px;
    }
}
@media (max-width: 500px)
{
    .block {
        padding: 20px;
    }
}

@media (width: 600px) {
    .test {
        background-color: red;
        height: 100px;
        width: 200px;
    }
}


A
B - 
C - FALSE
D - FALSE
E