* {
    display: block;
    color: white;
}
playlist {
    background-color:rgb(0, 0, 0);
}
song {
    border: 2px solid rgb(67, 65, 65);
    text-align: center;
    padding: 1em;
}
title {
    font-size: 2.5em;
    text-decoration: underline;
}
artist {
    font-size: 2em;
}
genre {
    font-style: italic;
}