/* 
    font-family: 'Pacifico', cursive;
    font-family: 'Assistant', sans-serif;

*/

@import url('https://fonts.googleapis.com/css?family=Assistant|Pacifico&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
/*----------------------------------------------------*/
body {
    background-color:#ddd0d9;
    position: relative;
}

#top {
    text-align: center;
    height: 10vh;
    background-color: rgb(225, 215, 226);
    /* padding: 1em; */
    font-family: 'Pacifico', sans-serif, cursive;
    z-index: 10;
    /* border: 5px solid black; */
}

h1 {
    color: rgb(238, 67, 96);
    margin: 0;
    font-size: 2.5em;
}
.nav {
    /* border: 2px solid black; */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.602);
    background-color: rgb(225, 215, 226);
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 4;
}
.nav .nav-item {
    font-family: 'Assistant', sans-serif;
    font-size: 1.25em;
    font-weight: 900;
    height: 100%;
    line-height: 100%;
    color: rgb(238, 67, 96);
    /* background-color: rgb(153, 136, 154); */
    background-color: black;;
    margin: 0 1em;
    z-index: 4;
    /* word-wrap: normal; */
}
.nav .nav-item:hover {
    font-weight: 900;
    /* text-decoration: line-through; */
    height: 100%;
    background-color: black;
    z-index: 5;
    /* color: rgb(238, 67, 96); */
    color: rgb(238, 67, 96);
}
/*--------------------------------------------------*/
.overlay {
    /* height:  */
    position: relative;
    display: flex;
    justify-content: center;
}
.welcome {
    /* width: 100%; */
    height: 85vh;
    border-radius: 20px;
}
.text-overlay {
    position: absolute;
    top: 0.5em;
    background-color: rgba(193, 193, 193, 0.472);
    width: auto;
    text-align: center;
}
/*--------------------------------------------------*/

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
@media only screen and (min-width: 600px) {
    li a {
        font-size: 1em;
        text-decoration: none;
        display: block;
        padding: 1em;
        text-align: center;
        color: #EC96A4;
    }
    li:last-child img {
        display: none;

        /* font-size: 1em;
        text-decoration: none;
        display: block;
        padding: 1em;
        text-align: center;
        color: #EC96A4; */
    }
    li a:hover {
        text-decoration: line-through;
        color: white;
    }
}
@media only screen and (max-width: 600px) {
    li a {
        display: none;
    }
    li img {
        height: 100%;
    }
    li div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 10% 10% 0 10%;
    }
    .text-overlay {
        font-size: 1em;

    }
}

main {
    display: flex;
    justify-content: center;
}
/* CONTACT PAGE */
.form-container {
    background-color: rgb(241, 214, 214);
    display: flex;
    padding: 2em;
    margin-top: 2em;
    width: 65vw;
    border-radius: 4em;
    box-shadow: 2px 5px 5px gray;
    justify-content: center;
}
input[type=text], input[type=email] {
    background-color: rgb(241, 238, 238);
    resize: vertical;
    width: 100%;
}