/* 
    font-family: 'Pacifico', cursive;
    font-family: 'Assistant', sans-serif;

*/

@import url('https://fonts.googleapis.com/css?family=Assistant|Pacifico&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
/*----------------------------------------------------*/
body {
    background-color: rgb(198, 164, 198);
    position: relative;
}
main {
    display: flex;
    font-family: 'Assistant', sans-serif;

    justify-content: center;
    flex-wrap: wrap;
    background-color:#f3e6ee;
    height: 100vh;
}
h3 {
    display: block;
    width: 100%;
    text-align: center;
}
.sugg {
    display: flex;
    justify-items: center;
    text-align: center;
}
.sugg h1 {
    width: 100%;
}
/*---------------------------------------------------------------------------*/
/* Navigation */
#top {
    text-align: center;
    height: 10vh;
    background-color: rgb(204, 186, 207);
    font-family: 'Pacifico', sans-serif, cursive;
    z-index: 10;
}

h1 {
    color: rgb(238, 67, 96);
    margin: 0;
    font-size: 2.5em;
}
.nav {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.602);
    background-color: rgb(204, 186, 207);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 4;
}
.nav .nav-item {
    font-family: 'Assistant', sans-serif;
    font-size: 1.25em;
    font-weight: 900;
    height: 100%;
    line-height: 100%;
    color: rgb(238, 67, 96);
    background-color: black;;
    margin: 0 1em;
    z-index: 4;
}
.nav .nav-item:hover {
    font-weight: 900;
    height: 100%;
    background-color: black;
    z-index: 5;
    color: rgb(238, 67, 96);
}
ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

li a {
    font-size: 1em;
    text-decoration: none;
    display: block;
    padding: 1em;
    text-align: center;
    color: rgb(238, 67, 96);
}


li a:hover {
    text-decoration: line-through;
    color: white;
}
.nav div {
    border-top: 5px solid black;
    height: 8px;
    margin-top: 3px;
    margin-left: 5%;
}
/*--------------------------------------------------*/
/* footer */
footer {
    text-align: right;
    width: 100%;
    background-color: rgb(198, 164, 198);
}
/*--------------------------------------------------*/
.overlay {
    position: relative;
    display: flex;
    justify-content: center;
}
.text-overlay {
    position: absolute;
    top: 0.5em;
    background-color: rgba(193, 193, 193, 0.472);
    width: auto;
    text-align: center;
}






/*---------------------------------------------------------------------------*/
/* Services Page */
.serv-main {
    font-family: 'Assistant', sans-serif;
    background-color:#f3e6ee;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}
.serv-info {
    display: flex;
    margin: 2em;
    padding: 1.5em;
    border-radius: 1.5rem;
    background-color: rgb(204, 186, 207);
    height: fit-content;
    align-items: center;
}
.serv-info img {
    margin-right: 1.5rem;
}
.serv-info p strong {
    font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
    .serv-main {
        background-color:#f3e6ee;
        padding: 0.5em;
        display: flex;
        flex-wrap: wrap;
    }
    .serv-info {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5em;
        padding: 0.5em;
        background-color: rgb(204, 186, 207);
        border-radius: 1.5rem;
        height: fit-content;
        justify-content: center;
        align-content: center;
    }
    .serv-info img {
        width: 75%;
        margin-bottom: 1.5rem;
    }
    .serv-info p {
        width: 100%;
    }
}
/*---------------------------------------------------------------------------*/
/* Contact Page */
.form-container {
    font-family: 'Assistant', 'Times New Roman', Times, serif;
    background-color: rgb(241, 214, 214);
    display: flex;
    padding: 2em;
    width: 65vw;
    margin-top: 1em;
    border-radius: 2em;
    box-shadow: 2px 5px 5px gray;
    justify-content: center;
}
input[type=text], input[type=email] {
    background-color: rgb(241, 238, 238);
    resize: vertical;
    width: 100%;
    margin-bottom: 2em;
}
input[type=submit] {
    height: 2em;
    float: right;
}
@media only screen and (max-width: 600px) {
    main {
        display: relative;
    }
    .form-container {
        margin-top: 2em;
        border-radius: 2em;
        width: 80%;
        box-shadow: 2px 5px 5px gray;
        justify-content: center;
    }
    input[type=text], input[type=email] {
        background-color: rgb(241, 238, 238);
        resize: vertical;
        width: 100%;
        margin-bottom: 25;
    }
    input[type=submit] {
        background-color: rgb(241, 238, 238);
        resize: vertical;
        width: 100%;
        height: 2em;;
        margin-bottom: 25;
    }
}
@media only screen and (max-width: 600px) {
    li a {
        display: none;
    }
    li div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 10%;
    }
    .text-overlay {
        font-size: 1em;
    }
}