@import url('https://fonts.googleapis.com/css?family=Kalam|Patrick+Hand&display=swap');
/* 
 Fonts used:
 Patrick Hand
 Kalam
*/

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: rgb(254,241,210);
    position: relative;
}
/*===============================*/
header {
    background-color: rgb(60, 55, 55);
    display: flex;
    justify-content: center;
}
h1 {
    padding-top: 0.5em;
    color: white;
    font-family: "Kalam", sans-serif;
}
/*===============================*/
nav {
    background-color: rgb(60, 55, 55);
    position: sticky;
    top: 0;
    font-family: "Kalam", sans-serif;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.438);
}
@media only screen and (max-width: 650px) {
    ul {
        /* background-color: red; */
        /* display: none; */
        /* display: flex; */
        /* justify-content: ; */
        /* list-style-type: none; */
        /* padding: 0; */
        /* margin: 0; */
    }
    li a {
        color: purple;
    }
    main img {
        display: none;
    }
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li a {
    position: relative;
    display: block;
    padding: 1.25em;
    text-decoration: none;
    color: white;

}
li a:hover {
    color: rgb(198, 48, 18);
    text-decoration: line-through;
}
/*===============================*/
main {
    background-color: white;
    margin: 0 5%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/*===============================*/
.order {
    max-width: 85%;
    margin-top: 5%;
}
.order img {
    max-width: 100%;
}